<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Редактировать покупателя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <form method="post" action="/saveClient">

        <label for="clientId">ID:               </label>
        <input type="text" id="clientId" name="clientId" required th:value="${client.getId()}"><br><br>

        <label for="clientName">Имя:               </label>
        <input type="text" id="clientName" name="clientName" required th:value="${client.getName()}"><br><br>

        <label for="clientDescription">Описание:          </label>
        <input type="text" id="clientDescription" name="clientDescription" th:value="${client.getDescription()}"><br><br>

        <label for="clientPhone">Телефон:           </label>
        <input type="text" id="clientPhone" name="clientPhone"  th:value="${client.getPhone()}"><br><br>

        <label for="clientAddress">Адрес:             </label>
        <input type="text" id="clientAddress" name="clientAddress"  th:value="${client.getAddress()}"><br><br>

        <input id="submitButton" type="submit" value="Сохранить" class="btn btn-primary">
    </form>
</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>