<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Редактировать доставку</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <form method="post" action="/saveOrder">

        <label for="orderId">ID:               </label>
        <input type="text" id="orderId" name="orderId" required th:value="${order.getId()}"><br><br>

        <label for="orderDateTime">Дата:               </label>
        <input type="date" id="orderDateTime" name="orderDateTime" required th:value="${order.getDeparture_date()}"><br><br>

        <p th:if="${order.getDeparture_date() != null}" th:text="'Планируемая ранее дата: ' + ${order.getDeparture_date()}"></p><br>

        <label for="orderBuyerName">Заказчик:          </label>
        <input type="text" id="orderBuyerName" name="orderBuyerName" th:value="${order.getClientName()}"><br><br>

        <label for="orderProductName">Продукты:           </label>
        <input type="text" id="orderProductName" name="orderProductName" th:value="${order.getProductName()}"><br><br>

        <label for="orderAmount">Кол-во:           </label>
        <input type="text" id="orderAmount" name="orderAmount"  th:value="${order.getAmount()}"><br><br>

        <label for="orderDeparted">Отправлен?:           </label>
        <input type="checkbox" id="orderDeparted" name="orderDeparted"  th:value="${order.getHas_departed()}"><br><br>

        <input id="submitButton" type="submit" value="Сохранить" class="btn btn-primary">
    </form>
</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>