<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        .indent {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 20px;
        }
    </style>
    <title>Информация о товаре</title>
</head>

<body>
<div th:replace="general :: page-header"> </div>

<div class="indent">
    <div id="goodInfo">
        <h4 th:text="${good.getProduct().getName()}"></h4>
        <p th:if="${good.getProduct().getDescription() != null}" th:text="'Описание: ' + ${good.getProduct().getDescription()}"></p>
        <p th:if="${good.getProduct().getCategory().getName() != null && good.getProduct().getCategory().getName().length() != 0}" th:text="'Тип: ' + ${good.getProduct().getCategory().getName()}"></p>
        <p th:if="${good.getExparation_date() != null && good.getExparation_date() != 0}" th:text="'Срок годности истекает: ' + ${good.getExparation_date()}"></p>
        <p th:if="${good.getStorage() != null}" th:text="'В наличии в хранилище номер: ' + ${good.getStorage().getId()}"></p>

    </div>

    <!--edit delete order button group-->
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2" role="group" aria-label="First group">
            <form style="margin-right: 30px" method="get" action="/editGood">
                <input type="hidden" name="goodId" th:value="${good.getId()}"/>
                <button id="editButton" type="submit" class="btn btn-secondary">Редактировать информацию о товаре</button>
            </form>
            <form method="post" action="/removeGood">
                <input type="hidden" name="goodId" th:value="${good.getId()}"/>
                <button id="deleteButton" type="submit" class="btn btn-secondary">Удалить товар из базы</button>
            </form>
        </div>
    </div>
    <!--end of button group-->

</div>

<div th:replace="general :: site-footer"></div>
<div th:replace="general :: site-script"></div>

</body>
</html>
